/* 카테고리 분류 선 */
.discovery-item.women {
  border-top: 2px solid var(--color-red-300);
}
.discovery-item.men {
  border-top: 2px solid var(--color-blue-600);
}
.discovery-item.food {
  border-top: 2px solid var(--color-ornage-500);
}
/* 타이틀 제목 */
.discovery-title-area {
  font-weight: 500;
  height: 52px;
  width: 290px;
  margin-bottom: 20px;
}
.discovery-title-area > h3 {
  font-size: 16px;
}
.discovery-title-area > h2 {
  font-size: 24px;
}
.discovery-title-area > h2 > span {
  color: var(--color-blue-600);
}
/* 아이템 리스트 */
.discovery-area {
  margin: 40px auto 0;
  padding-left: 48px;
}
.discovery-item {
  position: relative;
  width: 1020px;
  height: 601px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-500);
  margin-bottom: 20px;
  display: flex;
}
.discovery-category-title {
  position: absolute;
  padding-top: 40px;
  padding-left: 22px;
}
.category-title-text {
  font-size: 28.5px;
  width: 114px;
  line-height: 28.5px;
}
.category-title-text.women {
  color: var(--color-red-300);
}
.category-title-text.men {
  color: var(--color-blue-600);
}
.category-title-text.food {
  color: var(--color-ornage-500);
}
.discovery-category-title > .shortcuts {
  font-size: 11px;
  color: var(--color-gray-500);
}
.discovery-category-keyword {
  width: auto;
}
.discovery-category-keyword.women {
  padding: 22px 10px;
  height: 241px;
  position: absolute;
  top: 315px;
}
.discovery-category-keyword.men {
  padding: 22px 10px;
  height: 205px;
  position: absolute;
  top: 351px;
}
.discovery-category-keyword.food {
  padding: 22px 10px;
  height: 241px;
  position: absolute;
  top: 315px;
}
.keyword {
  font-size: 12px;
  line-height: 28px;
  margin-top: 6px;
  padding: 0 10px;
  width: auto;
  display: inline-block;
}
.keyword.women {
  color: var(--color-red-300);
  border: 1px solid var(--color-red-300);
}
.keyword.men {
  color: var(--color-blue-600);
  border: 1px solid var(--color-blue-600);
}
.keyword.food {
  color: var(--color-ornage-500);
  border: 1px solid var(--color-ornage-600);
}
.keyword.women:hover {
  background-color: var(--color-red-300);
}
.keyword.men:hover {
  background-color: var(--color-blue-600);
}
.keyword.food:hover {
  background-color: var(--color-ornage-600);
}
.keyword.women > a {
  color: var(--color-red-300);
}
.keyword.men > a {
  color: var(--color-blue-600);
}
.keyword.food > a {
  color: var(--color-ornage-600);
}
.keyword:hover > a {
  color: var(--color-white);
}
.discovery-category {
  position: relative;
  width: 146px;
  height: 601px;
}
.discovery-titletext.women {
  display: block;
  width: 237px;
  height: 60px;
  bottom: 50px;
  margin: 450px 0 0 22px;
  padding: 20px 22px 0 22px;
  position: absolute;
  background-color: var(--color-red-300);
  color: white;
  text-align: center;
}
.discovery-titletext.men {
  display: block;
  width: 237px;
  height: 60px;
  bottom: 50px;
  margin: 450px 0 0 22px;
  padding: 20px 22px 0 22px;
  position: absolute;
  background-color: var(--color-blue-600);
  color: white;
  text-align: center;
}
.discovery-titletext.food {
  display: block;
  width: 237px;
  height: 60px;
  bottom: 50px;
  margin: 450px 0 0 22px;
  padding: 20px 22px 0 22px;
  position: absolute;
  background-color: var(--color-ornage-600);
  color: white;
  text-align: center;
}
.discovery-subitemlist {
  width: 548px;
  height: 582px;
  display: flex;
  flex-wrap: wrap;
}
.discovery-subitemlist > li {
  width: 182px;
  height: 291px;
  list-style: none;
}
.discovery-subitemlist > li > a {
  display: block;
  width: 160px;
  height: 269px;
  padding: 22px 7px 0 15px;
  border-bottom: 1px solid var(--color-gray-500);
}
.subitem {
  width: 160px;
  height: 160px;
}
.subitem-text {
  font-size: 12px;
  color: var(--color-black);
}
.discovery-subitemlist > li > a:hover .subitem-text {
  color: var(--color-blue-600);
  text-decoration: underline;
}
.instant-discount {
  display: block;
  margin: 2px 0 -3px 0;
  font-size: 12px;
  color: var(--color-red-600);
}
.seller-rocket {
  width: 69.3px;
  height: 14px;
}
.rocket {
  width: 56px;
  height: 14px;
}
.subitem-text {
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 1px;
  line-height: 14px;
  width: 160px;
  height: 28px;
}
.subitem-price {
  width: 160px;
  height: 16px;
  margin-top: 3px;
  color: var(--color-black);
}
.dot-navi {
  position: relative;
  width: 100%;
  height: 10px;
  list-style: none;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.dot-navi > li {
  background-color: var(--color-opacity-20);
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.dot-navi li:nth-child(1) {
  background-color: var(--color-gray-600);
}
